# Database
DATABASE_URL=postgresql://doctor:doctor@localhost:5432/doctor?schema=public
# API
PORT=4000
CORS_ORIGINS=http://localhost:3000
JWT_ACCESS_SECRET=replace-me
JWT_REFRESH_SECRET=replace-me
# Stripe Connect / Payments
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CONNECT_COUNTRY=US
